@charset "utf-8";
/* =====top start===== */
.top {
  height: calc(100vh - 110px);
  background-image: url(background_image1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.top-view-text {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px 0 80px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 10px #4b2c14;
}

.top-view-text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  line-height: 72px;
}

.top-view-text p {
  font-size: 18px;
  margin-top: 20px;
}
/* =====top end===== */

/* =====about start===== */
.about {
  height: 500px;
  background-color: green;
}
/* =====about end===== */

/* =====contacts start===== */
.contacts {
  height: 500px;
  background-color: yellow;
}
/* =====contacts end===== */
