// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// ========== show star ==========
.man {
  color: blue;
}

.woman {
  color: red;
}

.user-gender {
  padding: 0 50px;
  height: 10px;
  width: 10px;
}

// ========== show end ==========
