.users-title {
  text-align: center;
  padding: 50px;
}

.users-title h1 {
  letter-spacing: 7px;
  margin-bottom: 0;
}

.users-title p {
  font-size: 10px;
}

.users-title p::after {
  background-color: #0d63e4;
  content: '';
  width: 110px;
  height: 4px;
  display: block;
  margin: 20px auto;
}

.users-contents {
  padding: 0 200px 100px;
  width: 100%;
}

.users-content {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border: 0.1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scale:hover {
  transform: scale(1.05);
}

.users-left {
  padding: 0 10px;
}

.users-right {
  padding: 0 10px;
  width: 100%;
}

.users-top {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding: 5px;
}

.users-top li {
  padding-right: 40px;
}

.users-top .user-name {
  font-weight: bold;
  padding-left: 0;
}

.users-top .fa-solid {
  display: block;

}

.users-down {
  padding: 5px;
  margin-left: 20px;
}

// ================== タブレット ==========================
@media screen and (max-width: 960px) {
  .users-title {
    text-align: center;
    padding: 50px 0;
  }

  .users-contents {
    padding: 0 10px 100px;
  }
}

// ================== スマートフォン ==========================
@media screen and (max-width: 520px) {
  .users-title {
    text-align: center;
    padding: 30px 0;
  }

  .users-contents {
    padding: 0 0 50px;
  }

  .users-content {
    padding: 10px;
  }

  .users-left {
    padding: 0 5px
  }

  .users-left .user-icon {
    width: 50px;
    height: 50px;
  }

  .users-right {
    padding: 0;
  }

  .users-top p {
    margin-bottom: 0;
  }

  .users-top {
    margin-left: 0;
  }

  .users-top li {
    margin: 0;
    padding: 0 8px;
    font-size: 8px;
  }

  .users-down {
    width: 100%;
    margin-left: 0;
  }

  .user-gender svg {
    font-size: 12px;
  }

  .users-down {
    font-size: 10px;
  }
}