.post-edit-title {
  text-align: center;
  padding: 50px 0 30px;
}

.post-edit-title h1 {
  letter-spacing: 7px;
  margin-bottom: 0;
}

.post-edit-title p {
  font-size: 10px;
}

.post-edit-title p::after {
  background-color: #0d63e4;
  content: '';
  width: 110px;
  height: 4px;
  display: block;
  margin: 20px auto;
}

.post-edit-form {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border: 0.1px solid rgba(0, 0, 0, 0.12);
  padding: 40px;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto 150px;
}

.post-edit-image img {
  width: 50%;
}

#error_explanation {
  color: red;
  text-align: center;
  display: contents;
}

.required:after {
  content: "*";
  color: rgba(255, 0, 0, 0.941);
  font-size: 20px;
  margin-left: 5px;
  }

label {
  margin-bottom: 5px;
  font-weight: bold;
}

.field {
  margin-bottom: 20px;
}

.post-field-content {
  margin-left: 12px;
  margin-right: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  height: 200px;
}

.post-edit-body textarea {
  padding: 10px;
}

.post-edit-form p {
  color: #0d63e4;
  font-size: 12px;
}

// ================== タブレット ==========================
@media screen and (max-width: 960px) {
  .post-edit-form {
    width: 80%;
  }

  .form-btn  {
    width: 50%;
  }
}

// ================== スマートフォン ==========================
@media screen and (max-width: 520px) {
  .post-edit-form {
    padding: 10px;
    margin: 0 0 50px;
    width: 100%;
  }

  .post-edit textarea {
    margin: 0;
  }

  .post-edit .form-btn {
    width: 100%;
  }

  .post-edit .post-edit-btn {
    width: 100%;
  }

  .post-edit label {
    padding: 0;
  }
}
