.posts-title {
  text-align: center;
  padding: 50px 0 20px;
}

.posts-title h1 {
  letter-spacing: 7px;
  margin-bottom: 0;
}

.posts-title p {
  font-size: 10px;
}
.posts-title p::after {
  background-color: #0d63e4;
  content: '';
  width: 110px;
  height: 4px;
  display: block;
  margin: 20px auto;
}

.posts-left .user-icon img{
  width: 100px;
  height: 100px;
}

.result-count {
  text-align: center;
  margin-bottom: 30px;
}

.posts-contents {
  padding: 50px 50px;
  margin: 30px 150px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border: 0.1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.posts-content {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  border: 0.1px solid rgba(0, 0, 0, 0.12);
  padding: 20px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition-duration: 0.2s;
  display: flex;
  flex-direction: row;
}

.scale:hover {
  transform: scale(1.05);
}

.posts-left {
  padding: 0 10px;
  width: 15%;
}

.posts-right {
  padding: 0 10px;
  width: 85%;
  margin-left: 20px;
}

.posts-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid rgb(179, 182, 182);
}

.posts-top-right {
  display: flex;
}

.posts-top-right p {
  margin-bottom: 0;
}

.posts-top .user-name {
  font-weight: bold;
  padding-left: 0;
  font-size: 20px;
}

.posts-top .fa-solid {
  display: block;
}

.posts-main {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(179, 182, 182);
}

.posts-content-image img{
  width: 30%;
}

.posts-content-image {
  margin-bottom: 16px;
}

.posts-text-zero {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.posts-btn {
  background-color: #0d63e4;
  border-radius: 50px;
  color: white;
  width: 60%;
  margin: 0 auto;
  padding: 3px;
  opacity: 0.9;
  transition: 0.5s;
  box-shadow: 0 5px #979b99;
}

.posts-btn:hover {
  opacity: 1;
  background-color: rgb(251, 195, 185);
}

.posts-btn-title {
  font-size: 8px;
}

.posts-btn p {
  margin-bottom: 0;
  text-align: center;
}

.posts-down {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.posts-down li {
  margin-right: 20px;
}

.search-form-area {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  margin: 0 40px 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-btn {
  margin-bottom: 10px;
  text-align: center;
}

.fa-magnifying-glass {
  width: 5%;
  color: #757575;
}

.search-content {
  border: none;
  padding: 0 5px;
  width: 95%;
}

.result-count {
  opacity: 0.8;
}

// ================== タブレット ==========================
@media screen and (max-width: 960px) {
  .posts-contents {
    padding: 20px;
    margin: 30px;
  }

  .posts-left .user-icon img{
    width: 70px;
    height: 70px;
  }

  .posts-right {
    margin-left: 0;
  }
}

// ================== スマートフォン ==========================
@media screen and (max-width: 520px) {
  .posts-contents {
    margin: 30px 0;
    padding: 10px 5px;
  }

  .posts-content {
    padding: 5px;
  }

  .posts-left .user-icon img{
    width: 40px;
    height: 40px;
  }

  .posts-top, .posts-top p, .posts-content-item{
    font-size: 12px;
  }
  .post-gender svg {
    font-size: 12px;
  }

  .search-form-btn {
    margin-top: 10px;
  }
}